﻿<div id="menu-prin">
    <ul class="nav nav-stacked" id="accordion1">
        <li class="panel">
            <a href="#"><i class="fa fa-lg fa-fw fa-home"></i> Inicio</a>
        </li>

        <li class="panel active">
            <a data-toggle="collapse" data-parent="#accordion1" href="#ini-generabase" aria-expanded="false"><i class="fa fa-lg fa-fw fa-cube"></i> Gestión de Locales<b><em class="fa mas-menos"></em></b></a>
            <ul id="ini-generabases" class="collapse in" aria-expanded="false">
                <li><a href="~/Solicitud">Solicitud de Mantenimeinto</a></li>
                <li><a href="~/GML_FichaMantenimiento">Ficha de Mantenimiento</a></li>
                <li><a href="~/GML_OrdenTrabajo">Orden de Trabajo</a></li>
                <li><a href="~/GML_InformeTecnico">Administrar Informe Técnico</a></li>
                <li><a href="~/ReprogramarMantenimiento">Reprogramar Ficha</a></li>
            </ul>
        </li>

        <li class="panel">
            <a data-toggle="collapse" data-parent="#accordion1" href="#ini-generabase" aria-expanded="false">
            <i class="fa fa-lg fa-fw fa-cube"></i> Gestión de Exám. Lab. <b><em class="fa mas-menos"></em></b></a>
            <ul id="ini-generabase" class="collapse in" aria-expanded="false">
                <li class="active"><a href="~/CartillaAtencion">Consulta Cart. Atención</a></li>
                <li><a href="~/InformeLaboratorio">Informes de Laboratorio</a></li>
                <li><a href="#">Caso Uso 3</a></li>
            </ul>
        </li>
        <li class="panel">
            <a href="#"><i class="fa fa-lg fa-fw fa-cubes"></i> Administración de Chips</a>
        </li>

        <li class="panel">
            <a data-toggle="collapse" data-parent="#accordion1" href="#ini-generabase" aria-expanded="false"><i class="fa fa-lg fa-fw fa-cube"></i> Generar solicitud <b><em class="fa mas-menos"></em></b></a>
            <ul id="ini-generabase2" class="collapse in" aria-expanded="false">
                <li class="active"><a href="~/Solicitud">Solicitud</a></li>
                <li class="active"><a href="~/AprobarSolicitud">Aprobar Solicitud</a></li>
                <li class="active"><a href="~/AprobarCompras">Aprobar Solicitud No Presupuestada</a></li>
                <li class="active"><a href="~/Proveedor">Actualizar Proveedor</a></li>
                <li class="active"><a href="~/EvaluarProveedor">Evaluar Proveedor</a></li>
            </ul>
        </li>


        <li class="panel">
            <a data-toggle="collapse" data-parent="#accordion1" href="#ini-generabase" aria-expanded="false"><i class="fa fa-lg fa-fw fa-cube"></i>Administración de Orden de Atención<b><em class="fa mas-menos"></em></b></a>
            <ul id="ini-generabase3" class="collapse in" aria-expanded="false">
                <li><a href="~/RegistroEscaneo/OrdenAtencion">Registrar Resultado de Escaneo</a></li>
                <li><a href="~/AsignacionOrdenAtencion/Busqueda">Asignar chip a Orden de Atención</a></li>
            </ul>
        </li>

        <li class="panel">
            <a data-toggle="collapse" data-parent="#accordion1" href="#ini-generabase" aria-expanded="false"><i class="fa fa-lg fa-fw fa-cube"></i>Administración de Chips<b><em class="fa mas-menos"></em></b></a>
            <ul id="ini-generabases2" class="collapse in" aria-expanded="false">
                <li><a href="~/SolicitudIdentificacion/Solicitud">Solicitud de Dispositivo de Identificación</a></li>
                <li><a href="~/SolicitudIdentificacion/SolicitudDispositivo">Administración de Chips</a></li>
                <li><a href="~/InformacionPetId/ExportarInformacion">Reporte PetId</a></li>
            </ul>
        </li>


        <li class="panel">
            <a href="#"><i class="fa fa-lg fa-fw fa-sign-out"></i> Salir</a>
        </li>
    </ul>
</div>

