﻿
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GSM - Solicitud</title>
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
</head>
<body>

    <form id="frmaux" name="frmaux" action="/SolicitudMantenimiento/Adicionar" method="post">
    </form>

    <form id="frmaux2" name="frmaux2" action="/SolicitudMantenimiento/Editar" method="GET">
        <input type="hidden" name="codigoSolicitud" id="codigoSolicitud_h" />
    </form>


    <input type="hidden" id="idComprobante" value="" />
    <input type="hidden" id="idCliente" value="" />
    <input type="hidden" id="idPaciente" value="" />
    @*<div id="header">
        <div class="logo-group">
            <span class="logo"> <img src="http://@Request.Url.Authority/img/petcenter.png"> </span>
            <span class="nombre-sistema"> </span>
        </div>
        <div class="user-group">
            <div id="logout" class="btn-header salir">
                <span> <a href="login.html" title="Cerrar sesión"><i class="fa fa-sign-out"></i></a> </span>
            </div>
            <div class="usuario hidden-xs text-right">
                <div class="usuario-nombre">Usuario Matenimiento</div>
                <div class="cargo">Administrador</div>
            </div>
        </div>
    </div>*@

    @Html.Partial("/Views/Shared/Cabecera.cshtml")


    <div id="cuerpo" style="background-color:transparent">
        <div id="content" style="background-color: #4cff00;">
            <div class="row">

                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                    <div class="row">
                        <div class="container-fluid text-left">
                            <span class="h1-resultados page-title"> Solicitud de Mantenimiento </span>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Filtro de Búsqueda del Reporte -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">

                        <div class="row">
                            <div class="smart-form">
                                <div class="col-sm-12 text-left">
                                    <fieldset class="scheduler-border">

                                        <legend class="scheduler-border">Datos Generales</legend>

                                        <div class="col-sm-4 text-left">
                                            <div class="input-group input-group-sm">
                                                <label class="control-label input-label" for="startTime">Nro de Solicitud: </label>
                                                <input id="txtNroSol" type="text" class="form-control" placeholder="Nro de Solicitud..." style="text-transform:uppercase" onfocus="limpiarCamposBusqueda();">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-left">

                                            <div class="input-group input-group-sm">
                                                <label class="control-label input-label" for="cboTipoMant">Tipo de Mantenimiento: </label>
                                                <select id="cboTipoMant" onfocus="limpiarCamposBusqueda();">
                                                    <option value="0" selected>-- Seleccione --</option>
                                                    <option value="1">MANTENIMIENTO CORRECTIVO</option>
                                                    <option value="2">MANTENIMIENTO PREVENTIVO</option>

                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-sm-3 text-left">
                                            <div class="input-group input-group-sm">
                                                <label class="control-label input-label" for="startTime">Fecha Inicio :</label>
                                                <input type="date" id="desdeDay" min="" style="height:30px">

                                            </div>
                                        </div>

                                        <div class="col-sm-12">&nbsp;</div>

                                        <div class="col-sm-4 text-left">
                                            <div class="input-group input-group-sm">
                                                <label class="control-label input-label" for="startTime">Estado: </label>
                                                <!--input id="txtEstadoCartilla" type="text" class="form-control" placeholder="Estado Cartilla de Atención..." style="text-transform:uppercase"-->
                                                <select id="cboEstado">
                                                    <option value="0" selected>-- Seleccione --</option>
                                                    <option value="1">CREADO</option>
                                                    <option value="2">APROBADO</option>
                                                </select>
                                            </div>
                                        </div>



                                        <div class="col-sm-4 text-left">
                                            <div class="input-group input-group-sm">
                                                <label class="control-label input-label" for="startTime">Sede: </label>
                                                <select id="cboSede" onfocus="limpiarCamposBusqueda();">
                                                    <option value="0" selected>-- Seleccione --</option>
                                                    <option value="1">San Borja</option>
                                                    <option value="2">Principal</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-left">
                                            <div class="input-group input-group-sm">
                                                <label class="control-label input-label" for="startTime">Fecha Fin :</label>
                                                <input type="date" id="hastaDay" min="" style="height:30px">
                                            </div>
                                        </div>

                                        <div class="col-sm-12">&nbsp;</div>

                                        <div class="col-sm-4 text-left">
                                            <div class="input-group input-group-sm">
                                                <label class="control-label input-label" for="cboArea">Area: </label>
                                                <select id="cboArea" onfocus="limpiarCamposBusqueda();">
                                                    <option value="0" selected>-- Seleccione --</option>
                                                    <option value="1">ADMINISTRACIÓN</option>
                                                    <option value="2">OPERACIONES</option>
                                                    <option value="3">area 2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 text-left">
                                            <div class="input-group input-group-sm">
                                                <label class="control-label input-label" for="txtDescrip">Descripción: </label>
                                                <input id="txtDescrip" type="text" class="form-control" placeholder="Descripción" style="text-transform:uppercase" onfocus="limpiarCamposBusqueda();">
                                            </div>
                                        </div>


                                    </fieldset>
                                </div>
                            </div>
                            <div class="smart-form">
                                <div class="col-sm-12 text-right">
                                    <button type="submit" class="btn btn-sm btn-primary" data-toggle="modal" onclick="filtroBuscar();">
                                        Buscar
                                    </button>
                                </div>
                            </div>
                            <div style="height:10px">

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Cuerpo del Reporte -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">

                        <div class="row">
                            <div class="smart-form">
                                <div class="col-sm-12 text-left">
                                    <button type="button" id="btn-adicionar" class="btn btn-sm btn-primary">
                                        Nuevo
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--div class="separa-20"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="dataGrid" style="text-align: center;"></table>
                                <div id="pager" class="tablecontainer"></div>
                            </div>
                        </div-->

                        <div class="separa-20"></div>
                        <div class="row">

                            <fieldset class="scheduler-border">

                                <legend class="scheduler-border">Resultado de la Busqueda</legend>
                                <div class="col-xs-12" id="cbtabla">
                                    <div id="tabAtencionMedica" class="tablecontainer"></div>
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <strong>Registro de Cartilla de Atención</strong>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr style="background-color:#FFD54F">
                                        <td>Ingrese Número de Comprobante:</td>
                                        <td>
                                            <label class="select">
                                                <input type="text" id="txtNumeroComprobante" name="txtNumeroComprobante" placeholder="Número Comprobante" style="width:200px">
                                                <span class="error" style="visibility:hidden">Ingrese Número Comprobante</span>
                                            </label>
                                        </td>
                                        <td><button type="submit" id="findComprobante" class="btn btn-sm btn-default" onclick="buscarComprobante();">Buscar</button></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-striped table-hover" style="background-color:#FFD54F">
                                <thead>
                                    <tr><th colspan="4">Datos de Cliente:</th></tr>
                                    <tr>
                                        <td>Dni:</td>
                                        <td><span id="dniCliente"></span></td>
                                        <td>Nombre:</td>
                                        <td><span id="nombreCliente"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Teléfono:</td>
                                        <td><span id="telefonoCliente"></span></td>
                                        <td>Celular:</td>
                                        <td><span id="celularCliente"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Correo:</td>
                                        <td colspan="3"><span id="correoCliente"></span></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-striped table-hover" style="background-color:#FFD54F">
                                <thead>
                                    <tr><th colspan="4">Datos de Paciente:</th></tr>
                                    <tr>
                                        <td>Nombre:</td>
                                        <td><span id="nombrePaciente"></span></td>
                                        <td>Tipo:</td>
                                        <td><span id="tipoPaciente"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Raza:</td>
                                        <td><span id="razaPaciente"></span></td>
                                        <td>Color:</td>
                                        <td><span id="colorPaciente"></span></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-sm-4"><b>Exámenes Programados</b></div>
                            <div class="col-sm-6" id="cblist">
                                <!--input type="checkbox" value="" id="cb1" />
                                <label for="cb1"></label-->
                            </div>
                        </div>
                    </div>
                    <div class="separa-20"></div>
                    <div class="row">
                        <div class="col-sm-4"><b>Jefe Laboratorio</b></div>
                        <div class="col-sm-6">
                            <div class="con-json">
                                <select id="cboJefes"></select>
                            </div>
                            <span class="error" style="visibility:hidden">Seleccione Jefe Laboratorio</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <button type="button" id="btnGuardar" class="btn btn-sm" onclick="grabarCartilla();">Guardar</button>
                            <button type="button" class="btn btn-sm" data-dismiss="modal"> Cerrar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Elimina -->
    <div id="myModalDel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <strong>Anular Solicitud de Man.</strong>
                </div>

                <div class="panel-body" style="margin:10px">

                    <input type="hidden" id="numidDoc_h" />

                    <div style="height:30px;text-align:center;font-size:14px;font-weight:bold">  ¿ Desea anular la Solicitud   ? </div>


                    <div class="row" style="text-align:center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <button type="button" id="btnSi" class="btn btn-sm" onclick="anular()">Si</button>
                            <button type="button" id="btnNo" class="btn btn-sm" data-dismiss="modal"> No</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <script src="http://@Request.Url.Authority/js/external/jquery/jquery.js"></script>
    <link href="http://@Request.Url.Authority/Scripts/jquery-ui.min.css" rel="stylesheet" />
    <script src="http://@Request.Url.Authority/Scripts/jquery-ui.min.js"></script>
    <script src="http://@Request.Url.Authority/js/bootstrap.min.js"></script>



    <script src="http://@Request.Url.Authority/js/bootswatch.js"></script>


    <!-- JQgrid -->
    <link type="text/css" href="http://@Request.Url.Authority/css/JQGrid/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
    <link type="text/css" href="http://@Request.Url.Authority/css/JQGrid/ui.jqgrid.css" rel="stylesheet" />

    <script type="text/javascript" src="http://@Request.Url.Authority/js/JQGrid/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="http://@Request.Url.Authority/js/JQGrid/jquery-ui-1.9.2.custom.js"></script>
    <script type="text/javascript" src="http://@Request.Url.Authority/js/JQGrid/grid.locale-en.js"></script>
    <script type="text/javascript" src="http://@Request.Url.Authority/js/JQGrid/jquery.jqGrid.min.js"></script>

    <!-- Mensajes Alerta -->
    <script type="text/javascript" src="http://@Request.Url.Authority/js/alertify.js"></script>
    <link rel="stylesheet" href="http://@Request.Url.Authority/css/alertify.core.css" />
    <link rel="stylesheet" href="http://@Request.Url.Authority/css/alertify.default.css" />

    <script type="text/javascript">
            function editar(id) {
                // alert(id);
                //ocument.getElementById("txtEditar").value(id);
                // $(editarSolicitud(id));
            }
            $(document).ready(function () {

                /*$(function () {


                    $("#dataGrid").jqGrid({
                        url: '/CartillaAtencion/listarCartillaAtencion/',
                        datatype: 'json',
                        mtype: 'POST',
                        serializeGridData: function (postData) {
                            alert(postData.rows);
                            console.log(postData);
                            return JSON.stringify(postData);
                        },
                        contentType: "application/json",
                        success: function (data) {
                            console.log(data);
                        },
                        error: function (xqr, errorMessage) {
                            alert(errorMessage);
                        },
                        ajaxGridOptions: { contentType: "application/json" },
                        loadonce: true,
                        colNames: ['Nro Comprobante', 'Nombre Cliente', 'Paciente', 'Nombre Empleado', 'Código', 'Fec.Creación', 'Estado'],
                        colModel: [
                                        { name: 'numero_comprobante', index: 'Nro Comprobante', width: 120 },
                                        { name: 'nombre_cliente', index: 'Nombre Cliente', width: 245 },
                                        { name: 'nombre_paciente', index: 'Paciente', width: 100 },
                                        { name: 'nombre_empleado', index: 'Nombre Empleado', width: 200 },
                                        { name: 'codigo', index: 'Código', width: 80 },
                                        { name: 'fecha_creacion', index: 'Fec.Creación', width: 100 },
                                        { name: 'estado_cartilla', index: 'Estado', width: 80 }
                        ],
                        pager: '#pager',
                        rowNum: 5,
                        rowList: [10, 20, 30],
                        viewrecords: true,
                        gridview: true,
                        jsonReader: {
                            page: function (obj) { return 1; },
                            total: function (obj) { return 1; },
                            //records: function (obj) { return obj.d.length; },
                            root: function (obj) { return obj.d; },
                            repeatitems: false,
                            id: "0"
                        },
                        caption: 'Registro de Atenciones de Laboratorio...'
                    });
                }).navGrid("#pager", { edit: true, add: true, del: false });*/



                var detalleSolicitud = [];
                //$('.solo_numeros').soloPermitir('0123456789');

               /* $.ajax({
                    type: "POST",
                    async: false,
                    url: '/CartillaAtencion/listarCartillaAtencion/',
                    cache: false,
                    //data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        var $tableCartilla = $('<table/>');
                        $tableCartilla.append('<thead><tr><th>COMPROBANTE</th><th>NOMBRE CLIENTE</th><th>PACIENTE</th><th>NOMBRE EMPLEADO</th><th>CÓDIGO</th><th>FECHA CREACIÓN</th><th>ESTADO</th></tr></thead>');
                        var $tbodyCartilla = $('<tbody/>');
                        $.each(data, function (i, val) {
                            //alert("val:" + val.NUMCOM);
                            var $row = $('<tr/>');
                            $row.append($('<td/>').html(val.NUMCOM));
                            $row.append($('<td/>').html(val.NOMCLI));
                            $row.append($('<td/>').html(val.NOMPAC));
                            $row.append($('<td/>').html(val.NOMEMP));
                            $row.append($('<td/>').html(val.CODIGO));
                            $row.append($('<td/>').html(val.FECCRE));
                            $row.append($('<td/>').html(val.ESTCAR));

                            $tbodyCartilla.append($row);

                        });
                        $tableCartilla.append($tbodyCartilla);
                        $('#tabAtencionMedica').html($tableCartilla);
                    },
                    error: function (xqr, errorMessage) {
                        alert(errorMessage);
                    }
                });*/



                $('#btn-adicionar').click(function () {

                    $('#frmaux').submit();

                });


            });


            function actualizarTabla() {

                $.ajax({
                    type: "POST",
                    async: false,
                    url: '/CartillaAtencion/listarCartillaAtencion/',
                    cache: false,
                    //data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        var $tableCartilla = $('<table/>');
                        $tableCartilla.append('<thead><tr><th>COMPROBANTE</th><th>NOMBRE CLIENTE</th><th>PACIENTE</th><th>NOMBRE EMPLEADO</th><th>CÓDIGO</th><th>FECHA CREACIÓN</th><th>ESTADO</th></tr></thead>');
                        var $tbodyCartilla = $('<tbody/>');
                        $.each(data, function (i, val) {
                            //alert("val:" + val.NUMCOM);
                            var $row = $('<tr/>');
                            $row.append($('<td/>').html(val.NUMCOM));
                            $row.append($('<td/>').html(val.NOMCLI));
                            $row.append($('<td/>').html(val.NOMPAC));
                            $row.append($('<td/>').html(val.NOMEMP));
                            $row.append($('<td/>').html(val.CODIGO));
                            $row.append($('<td/>').html(val.FECCRE));
                            $row.append($('<td/>').html(val.ESTCAR));

                            $tbodyCartilla.append($row);

                        });
                        $tableCartilla.append($tbodyCartilla);
                        $('#tabAtencionMedica').html($tableCartilla);
                    },
                    error: function (xqr, errorMessage) {
                        alert(errorMessage);
                    }
                });

            }

            function buscarComprobante() {
                var dataComprobante = {
                    numeroComprobante: $('#txtNumeroComprobante').val()
                }

                $.ajax({
                    type: "POST",
                    async: false,
                    url: '/CartillaAtencion/obtenerComprobante',
                    cache: false,
                    data: JSON.stringify(dataComprobante),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        //alert("Longitud:" + data.length);
                        if (data.length != 0) {
                            $.each(data, function (i, val) {
                                $("#idComprobante").val(val.IDCOMP);
                                $("#idCliente").val(val.IDCLIE);
                                $("#idPaciente").val(val.IDPACI);
                                $("#dniCliente").html(val.DNI);
                                $("#nombreCliente").html(val.CLIENTE);
                                $("#telefonoCliente").html(val.TELEFONO);
                                $("#celularCliente").html(val.CELULAR);
                                $("#correoCliente").html(val.CORREO);
                                $("#nombrePaciente").html(val.PACIENTE);
                                $("#tipoPaciente").html(val.TIPPACIENTE);
                                $("#razaPaciente").html(val.RAZA);
                                $("#colorPaciente").html(val.COLOR);
                                buscarTipoExamen();
                                cargarComboJefeLaboratorio();
                            });
                        } else {
                            alertaComprobantePago();
                            //alert("Comprobante no válido o no encontrado, verifique en caja...");
                            limpiarComprobante();
                        }

                    },
                    error: function (xqr, errorMessage) {
                        alert(errorMessage);
                    }
                });

            }


            function cargarComboJefeLaboratorio() {
                //alert("Cargar Combo");
                var dataEmpleado = {
                    tipoEmpleado: 'Jefe Laboratorio',
                    sede: 'Lince'
                }

                $.ajax({
                    type: "POST",
                    async: false,
                    url: '/Empleado/listarEmpleado/',
                    cache: false,
                    //data: JSON.stringify(dataEmpleado),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        //alert("Longitud:" + data.length);
                        $(".con-json select").empty();
                        $('.con-json select').append('<option value="0">-- Seleccione --</option>');
                        $.each(data, function (i, val) {
                            if ((val.cargo_empleado == 'JEFE LABORATORIO') && (val.sede == 'LINCE')) {
                                //alert(val.nombre_empleado);
                                $('.con-json select').append('<option value="' + val.id_empleado + '">' + val.nombre_empleado + '</option>');
                            }
                        });

                    },
                    error: function (xqr, errorMessage) {
                        alert(errorMessage);
                    }
                });

            }


            function buscarTipoExamen() {
                var dataTipoExamen = {
                    idComprobante: parseInt($('#idComprobante').val())
                }

                $.ajax({
                    type: "POST",
                    async: false,
                    url: '/TipoExamen/listarTipoExamen/',
                    cache: false,
                    data: JSON.stringify(dataTipoExamen),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        if (data.length != 0) {
                            $('#cblist').empty();
                            $.each(data, function (i, val) {
                                //alert(val.tipo_examen);
                                addCheckbox(val.tipo_examen);
                                /*$('#cblist')
                                    .append(
                                        $(document.createElement('input')).attr({
                                            id: + 'txtlab_' + val.tipo_examen,
                                            name: + 'txtlab_' + val.tipo_examen,
                                            value: + val.tipo_examen,
                                            type: 'text'
                                        }) + '<br />'
                                    );*/
                            });
                        } else {
                            alert("Comprobante no válido o no encontrado, verifique en caja...");
                        }

                    },
                    error: function (xqr, errorMessage) {
                        alert(errorMessage);
                    }
                });
            }


            function addCheckbox(name) {
                var container = $('#cblist');
                var inputs = container.find('input');
                var id = inputs.length + 1;

                $('<input />', { type: 'text', id: 'cb' + id, value: name, disabled: true }).appendTo(container);
                //$('<label />', { 'for': 'cb' + id, text: name }).appendTo(container);
                $('<br />').appendTo(container);
            }

            function alertaComprobantePago() {
                //un alert
                alertify.alert("<b>Número de Comprobante de Pago no encontrado</b><br>por favor, acerquese a caja",
                    function () { }, 'popupAdvertencia');
            }


            //var oAlert = alert;
            //function alert(txt, title) {
            //    try {
            //        jAlert(txt, title);
            //    } catch (e) {
            //        oAlert(txt);
            //    }
            //}


            function confirmar() {
                //un confirm
                alertify.confirm("<p>Esta seguro que desea grabar la Cartilla de Atención<br><br></p>", function (e) {
                    if (e) {
                        alertify.success("Has pulsado '" + alertify.labels.ok + "'");
                    } else {
                        alertify.error("Has pulsado '" + alertify.labels.cancel + "'");
                    }
                });
                return false
            }


            function limpiarComprobante() {
                $("#dniCliente").html("");
                $("#nombreCliente").html("");
                $("#telefonoCliente").html("");
                $("#celularCliente").html("");
                $("#correoCliente").html("");
                $("#nombrePaciente").html("");
                $("#tipoPaciente").html("");
                $("#razaPaciente").html("");
                $("#colorPaciente").html("");
                $('#cblist').empty();
                $("#idComprobante").val("");
                $("#idCliente").val("");
                $("#idPaciente").val("");
            }

            function grabarCartilla() {
                var cartilla = {
                    numero_comprobante: $('#txtNumeroComprobante').val(),
                    id_cliente: parseInt($("#idCliente").val()),
                    id_paciente: parseInt($("#idPaciente").val()),
                    id_empleado: parseInt($('#cboJefes').val())
                }

                $.ajax({
                    type: "POST",
                    async: false,
                    url: '/CartillaAtencion/guardarCartillaAtencion',
                    cache: false,
                    data: JSON.stringify(cartilla),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (data) {
                        if (data == "OK") {
                            alertify.alert("<b>Se registró la Cartilla de Atención satisfactoriamente.</b><br>");
                        } else {
                            alertify.error("<b>Ocurrió un inconveniente al crear la Cartilla de Atención.</b><br>");
                        }
                        $("#myModal").hide();
                        actualizarTabla();
                    },
                    error: function (xqr, errorMessage) {
                        alertify.error("<b>Ocurrió un inconveniente al crear la Cartilla de Atención.</b><br>");
                    }
                });

            }


            function filtroBuscar() {

                //if ($("#cboEstado option:selected").html() == 'TODOS') {
                //    mostrarCartillaAtencion();
                //    return false;
                //}
                /*var Cliente = {
                    nombre: $('#txtNombrePaciente').val()
                }*/

                //var Paciente = {
                //    nombre: $('#txtNombrePaciente').val()
                //}

                if ($('#txtNroSol').val() == '') {
                    $('#txtNroSol').val(0);
                }



                var filtro = {
                    codigoSolicitud: $('#txtNroSol').val(),
                    descripcion: $('#txtDescrip').val(),
                    codigoTipoMantenimiento: $('#cboTipoMant').val(),
                    fechaInicio: $('#desdeDay').val(),
                    fechaFin: $('#hastaDay').val(),
                    estado: $('#cboEstado').val(),
                    codigoSede: $('#cboSede').val(),
                    codigoArea: $('#cboArea').val()
                }

                //alertify.alert("Comprobante_Pago: " + filtro.numero_comprobante + "<BR>Nombre Paciente: " + filtro.nombre_paciente);

                $.ajax({
                    type: "POST",
                    async: false,
                    url: '/SolicitudMantenimiento/listarSolicitudMantenimiento/',
                    cache: false,
                    data: JSON.stringify(filtro),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        if (data.length != 0) {
                            //alertify.alert("<b>La búsqueda fue satisfactoria.</b><br>");
                            $('#DIVresultado').empty();
                            var $tableCartilla = $('<table/>');
                            $tableCartilla.append('<thead><tr><th>Nro</th><th>Estado</th><th>Fecha Creacion</th><th>Tipo de Mantenimiento</th><th>Sede</th><th>Area</th></tr></thead>');
                            var $tbodyCartilla = $('<tbody/>');
                            $.each(data, function (i, val) {
                                //alert("val:" + val.NUMCOM);
                                var $row = $('<tr/>');
                                $row.append($('<td/>').html(val.CodigoSolicitud));
                                $row.append($('<td/>').html(val.DescripcionEstadoSolicitud));
                                $row.append($('<td/>').html(val.FechaSolicitud));
                                $row.append($('<td/>').html(val.DescripcionTipoMantenimiento));
                                $row.append($('<td/>').html(val.DescripcionSedeSolicitud));
                                $row.append($('<td/>').html(val.DescripcionAreaSolicitud));
                                if (val.DescripcionEstadoSolicitud == 'APROBADO') {
                                    $row.append($('<td/>').html('<span  id="' + val.CodigoSolicitud + '" title="No se puede Anular (Aprobado)" >&nbsp</span>'));
                                    $row.append($('<td/>').html('<span >&nbsp</span>'));
                                } else {
                                    $row.append($('<td/>').html('<a href="javascript:void(0)" class="clsedit" onClick="redirect(this)" id="' + val.CodigoSolicitud + '" >Editar</a>'));
                                    $row.append($('<td/>').html('<a data-toggle="modal" href="#myModalDel" onclick="anulardoc(' + val.CodigoSolicitud + ')" >Anular</a>'));
                                }





                                $tbodyCartilla.append($row);

                            });
                        } else {
                            var $tableCartilla = $('<table/>');
                            $tableCartilla.append('<thead><tr><th>Nro</th><th>Estado</th><th>Fecha Creacion</th><th>Tipo de Mantenimiento</th><th>Sede</th><th>Area</th></tr></thead>');
                            var $tbodyCartilla = $('<tbody/>');
                            var $row = $('<tr/>');
                            $row.append($('<td colspan="7"/>').html("No existen datos para la consulta realizada..."));
                            $tbodyCartilla.append($row);
                        }
                        $tableCartilla.append($tbodyCartilla);
                        $('#tabAtencionMedica').html($tableCartilla);
                    },
                    error: function (xqr, errorMessage) {
                        alertify.error("<b>Ocurrió un inconveniente al buscar la Cartilla de Atención.</b><br>");
                    }
                });
            }




            function redirect(obj) {


                var idsol = $(obj).attr('id');

                $('#codigoSolicitud_h').val(idsol);
                $('#frmaux2').submit();

            }

            function anulardoc(idficha) {

                $('#numidDoc_h').val(idficha);
            }


            function anular() {

                var cartilla = {
                    codigoSolicitud: $('#numidDoc_h').val(),
                    descripcion: '',
                    Fecha: null,
                    estado: '1',
                    codigoSede: 0,
                    codigoArea: 0,
                    CodigoTipoMantenimiento: 0,
                    CodigoEmpleado1: '1',
                    UsuarioRegistro: 'JESUS',
                    Accion: 'D'
                }

                $.ajax({
                    type: "POST",
                    async: false,
                    url: '/SolicitudMantenimiento/guardarSolicitud',
                    cache: false,
                    data: JSON.stringify(cartilla),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (data) {

                        //alert(response,"titulo")
                        filtroBuscar();
                        alertify.alert("<b>Se Anulo la Solicitud de Mant. Nro:" + $('#numidDoc_h').val() + " .</b><br>");

                        $("#myModalDel").hide();
                        // actualizarTabla();
                    },
                    error: function (xqr, errorMessage) {
                        alertify.error("<b>Ocurrió un inconveniente al anular la Ficha.</b><br>");
                    }
                });

            }


            function limpiarCamposBusqueda() {
                /*$('#txtCodigoCartilla').val("");
                $('#txtComprobantePago').val("");
                $('#txtNombreCliente').val("");
                $('#txtNombrePaciente').val("");
                $('#txtNombreEmpleado').val("");
                $('#txtNombreEmpleado').val("");
                $('#txtNombreEmpleado').val("");
                $('#cboEstado option[value="0"]').attr('selected', 'selected');
                $('input[type=date]').each(function resetDate() {
                    this.value = this.defaultValue;
                });
                if ($("#cboEstado option:selected").html() == 'TODOS')
                    $('#cboEstado option[value="0"]').attr('selected', 'selected');*/
            }


            function mostrarCartillaAtencion() {
                actualizarTabla();
            }

            /*$.getJSON("/Solicitud/ListaEstado").done(function (data) {
           var options = $("#cboEstado");
           options.empty();
           $.each(data, function (index, item) {
               options.append($("<option />").val(data[index].value).text(data[index].text));
            });*/


            /*$.getJSON("/Solicitud/ListaPrioridad").done(function (data) {
                var options = $("#cboPrioridad");
                options.empty();
                $.each(data, function (index, item) {
                    options.append($("<option />").val(data[index].value).text(data[index].text));
                });
            });

            $.getJSON("/Solicitud/ListaRecurso").done(function (data) {
                var options = $("#cboProducto");
                options.empty();
                $.each(data, function (index, item) {
                    options.append($("<option />").val(data[index].value).text(data[index].text));
                });
            });*/


            /* $('#addDetalle').click(function () {

                 var isValidItem = true;
                 if ($('#cboProducto').val() == '0') {
                     isValidItem = false;
                     $('#cboProducto').siblings('span.error').css('visibility', 'visible');
                 }
                 else {
                     $('#cboProducto').siblings('span.error').css('visibility', 'hidden');
                 }

                 if (!($('#txtCantidad').val().trim() != '' && !isNaN($('#txtCantidad').val().trim()))) {
                     isValidItem = false;
                     $('#txtCantidad').siblings('span.error').css('visibility', 'visible');
                 }
                 else {
                     $('#txtCantidad').siblings('span.error').css('visibility', 'hidden');
                 }
                 if (isValidItem) {
                     detalleSolicitud.push({
                         item: 0,
                         cantidad_solicitada: parseInt($('#txtCantidad').val().trim()),
                         codigo_recurso: $("#cboProducto").val(),
                         nombre_recurso: $("#cboProducto option:selected").text()
                     });

                     $('#cboProducto').val('').focus();
                     $('#txtCantidad').val('');

                     GeneraDetalleSolicitud();
                 }

                */
            /*function GeneraDetalleSolicitud() {
                if (detalleSolicitud.length > 0) {
                    var $table = $('<table/>');
                    $table.append('<thead><tr><th>Item</th><th>Producto</th><th>Descripcion</th><th>Cantidad</th><th>Acción</th></tr></thead>');
                    var $tbody = $('<tbody/>');
                    $.each(detalleSolicitud, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.item));
                        $row.append($('<td/>').html(val.codigo_recurso));
                        $row.append($('<td/>').html(val.nombre_recurso));
                        $row.append($('<td/>').html(val.cantidad_solicitada));
                        $row.append($('<td/>').html("<a class='editar' href='#'><i class='glyphicon glyphicon-trash' title='Eliminar'></i></a>"));
                        $tbody.append($row);
                    });
                    $table.append($tbody);
                    $('#detalleSolicitud').html($table);
                }
            }*/

            /*  $('#btnGuardar').click(function () {

                  var isAllValid = true;
                  if (detalleSolicitud.length == 0) {
                      $('#detalleSolicitud').html('<span style="color:red;">Agregue productos</span>');
                      isAllValid = false;
                  }

                  if ($('#txtFecha').val().trim() == '') {
                      $('#txtFecha').siblings('span.error').css('visibility', 'visible');
                      isAllValid = false;
                  }
                  else {
                      $('#txtFecha').siblings('span.error').css('visibility', 'hidden');
                  }

                  if ($('#cboPrioridad').val().trim() == '') {
                      $('#cboPrioridad').siblings('span.error').css('visibility', 'visible');
                      isAllValid = false;
                  }
                  else {
                      $('#cboPrioridad').siblings('span.error').css('visibility', 'hidden');
                  }
                  if ($('#cboEstado').val().trim() == '') {
                      $('#cboEstado').siblings('span.error').css('visibility', 'visible');
                      isAllValid = false;
                  }
                  else {
                      $('#cboEstado').siblings('span.error').css('visibility', 'hidden');
                  }
                  //Save if valid
                  if (isAllValid) {
                      var data = {
                          numero_solicitud: $('#txtCodigo').val().trim(),
                          fecha_hora: $('#txtFecha').val(),
                          codigo_prioridad: $('#cboPrioridad').val(),
                          codigo_prioridad: $('#cboPrioridad').val(),
                          codigo_estado: $('#cboEstado').val(),
                          GPC_DetalleDeSolicitud: detalleSolicitud
                      }


                      $.ajax({
                          url: '/Solicitud/GuardaSolicitud',
                          type: "POST",
                          data: JSON.stringify(data),
                          dataType: "JSON",
                          contentType: "application/json",
                          success: function (d) {
                              if (d.status == true) {
                                  //clear form
                                  alert('Operación realizada satisfactiriamente');
                                  $("#myModal").modal('hide');
                                  detalleSolicitud = [];
                                  $('#txtCOdigo').val('');
                                  $('#txtFecha').val('');
                                  $('#detalleSolicitud').empty();



                              }
                              else {
                                  alert('Operación realizada satisfactiriamente');
                              }
                              //$('#submit').val('Save');
                          },
                          error: function () {
                            //  alert('Error. Please try again.');
                              alert('Operación realizada satisfactiriamente');
                          }
                      });
                  }

              });

              */

            /*  $(function editarSolicitud(id) {

                  var codigo = id;//("#txtEditar").val();

                      $.ajax({
                          url: '/Solicitud/EditarSolicitud {numero_solicitud:'+ codigo +'}',
                          type: "POST",
                          data: JSON.stringify(data),
                          dataType: "JSON",
                          contentType: "application/json",
                          success: function (d) {
                              if (d.status == true) {
                                  //clear form
                                  alert('Operación realizada satisfactiriamente');

                              }
                              else {
                                  alert('Operación realizada satisfactiriamente');
                              }
                              //$('#submit').val('Save');
                          },
                          error: function () {
                              //  alert.('Error. Please try again.');
                              alert('Operación realizada satisfactiriamente');
                          }
                      });
                  });



          });
      });*/

            Date.prototype.yyyymmdd = function () {
                var mm = this.getMonth() + 1; // getMonth() is zero-based
                var dd = this.getDate();

                return [this.getFullYear(),
                        (mm > 9 ? '' : '0') + mm,
                        (dd > 9 ? '' : '0') + dd
                ].join('-');
            };

            var date = new Date();
            //alert(date.yyyymmdd());

            $('input[type=date]').val(date.yyyymmdd());



    </script>
</body>
</html>



<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }


    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 2px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }
</style>

